body {
	padding-top: 40px;
	text-shadow: 1px 1px 5px #000000;
}

footer {
	padding: 40px 0;
	margin-top: 40px;
}

.container { 
	max-width: 970px;
}

.brand {
	font-size: 20px;
	letter-spacing: 3px;
}

.separator {
	height: 0;
	line-height: 0;
	border-bottom: 1px solid #1e2024;
	box-shadow: 0 1px 0 #45484c;
	margin-bottom: 20px;
}

$socialSize: 64px;
.social {
	margin: 5px auto;
	height: $socialSize;
	width: $socialSize;
	border-radius: 50%;
	display: flex;
	font-size: $socialSize / 2;
	color: #ffffff;
	justify-content: center;
	align-items: center;
}

.social-mini {
	height: $socialSize / 2;
	width: $socialSize / 2;
	font-size: $socialSize / 4;
	margin: 2px;
  }

.twitter { background-color: hsl(203, 89%, 53%); }
.facebook { background-color: hsl(220, 46%, 48%);}
.linkedin { background-color: hsl(201, 100%, 35%); }
.soundcloud { background-color: hsl(28, 100%, 50%); }
.imdb { background-color: hsl(45, 95%, 44%); }
.github { background-color: hsl(0, 3%, 33%); }
.email { background-color: hsl(139, 48%, 34%); }

.headshot {
	width: 80px;
	height: 90px;
	vertical-align: bottom;
}

.iatse {
	height: auto;
	max-width: 30px;
	margin: 0;
	padding: 0;
}

// jCarousel theme configuration variables
$jc-color: #24262c;
$jc-height: 180px;
$jc-width: 100%;
$jc-y-buffer: 10px;
$jc-x-buffer: 45px;
$jc-img-height: 140px;
$jc-img-width: 94px;
$jc-box-shadow: 0 0 2px #999;
$jc-txt-shadow: 0 0 1px #000;
$jc-control-size: 30px;
$jc-control-bg: #4E443C;
$jc-control-color: #ffffff;
$jc-control-pos: ($jc-height - $jc-control-size - ($jc-y-buffer * 2)) / 2;

/** jCarousel **/
.jcarousel-wrapper {
	position: relative;
	background: $jc-color;
	border: $jc-y-buffer solid $jc-color;
	width: $jc-width;
	height: $jc-height;
	margin-bottom: 2rem;
	padding: $jc-y-buffer $jc-x-buffer;
}

.jcarousel {
	position: relative;
	overflow: hidden;
}

.jcarousel ul {
	width: 10000em;
	position: relative;
	list-style: none;
	margin: 0;
	padding: 0;
}

.jcarousel li {
	float: left;
	width: $jc-img-width;
	height: $jc-img-height;
	margin: 0 5px;
}

.jcarousel img {
    width: $jc-img-width;
	height: $jc-img-height;
    max-height: $jc-img-height;
	-webkit-box-shadow: $jc-box-shadow;
	-moz-box-shadow: $jc-box-shadow;
	box-shadow: $jc-box-shadow;
}

.jcarousel .loading {
	line-height: $jc-img-height;
}

/** Carousel Controls **/
.jcarousel-control-prev,
.jcarousel-control-next {
	position: absolute;
	top: $jc-control-pos;
	width: $jc-control-size;
	height: $jc-control-size;
	text-align: center;
	background: $jc-control-bg;
	color: $jc-control-color;
	text-decoration: none;
	text-shadow: $jc-txt-shadow;
	font: 24px/27px Arial, sans-serif;
	-webkit-border-radius: $jc-control-size;
	-moz-border-radius: $jc-control-size;
	border-radius: $jc-control-size;
	-webkit-box-shadow: $jc-box-shadow;
	-moz-box-shadow: $jc-box-shadow;
	box-shadow: $jc-box-shadow;
}

.jcarousel-control-prev {
	left: 0;
}

.jcarousel-control-next {
	right: 0;
}

.jcarousel-control-prev:hover span,
.jcarousel-control-next:hover span {
	display: block;
}

.jcarousel-control-prev.inactive,
.jcarousel-control-next.inactive {
	opacity: .5;
	cursor: default;
}
