// Variables for my own theme
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$primary: hsl(204, 100%, 78%);
$dark: hsl(220, 9%, 13%);
$body-bg: hsl(218, 7%, 22%);
$body-color: hsl(0, 0%, 87%);
$font-family-base: Nunito, Helvetica, Arial, sans-serif;
$link-hover-decoration: none;
$badge-padding-x: .6em;
$tooltip-bg: $white;
$tooltip-color: $black;
$tooltip-opacity: 0.7;
$input-border-radius: 0;
$input-border-radius-lg: 0;
$input-border-radius-sm: 0;
$btn-border-radius: 0;
$btn-border-radius-lg: 0;
$btn-border-radius-sm: 0;

@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import "style";
@import "jcarousel";
