html { background-color: #1d1f23; }

body {
	color: #ddd;
	background-color: #33363B;
	padding-top: 40px;
	text-shadow: 1px 1px 5px #000000;
}

a,
.brand .cl-blue { color: #8dd1ff }

a:hover {
	color: #08C;
	text-decoration: none;
}

p { padding: 0 }

ul,
li { list-style-type: none }

p,
h1,
h2,
h3,
h4,
h5,
h6,
footer { font-family: 'Nunito', Helvetica, Arial, sans-serif }

.container { max-width: 970px; }

.brand span {
	color: #fff;
	font-size: 20px;
	letter-spacing: 3px;
}

.separator {
	height: 0;
	line-height: 0;
	border-bottom: 1px solid #1e2024;
	box-shadow: 0 1px 0 #45484c;
	margin-bottom: 20px;
}

.jumbotron {
	background-color: #1c1e22;
	padding-left: 60px;
	padding-right: 60px;
}

.jumbotron h1 { font-size: 3.5em; }

.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
}

.ir:before {
	content: "";
	display: block;
	width: 0;
	height: 150%;
}

.social-links {
	background-image: url("../img/social-links.png?v=120515");
	width: 64px;
	height: 64px;
	display: block;
	margin: 5px auto;
}

.social-mini {
	background: url("../img/social-mini.png?v=042918") no-repeat;
	width: 32px;
	height: 32px;
	float: left;
	margin: 3px;
	display: block;
	line-height: 0;
	font-size: 0;
}

@media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
	.social-links {
		 background-image: url("../img/social-links-retina.png?v=120515");
		 background-size: 384px 64px;
	}

	.social-mini {
		background-image: url("../img/social-mini-retina.png?v=042918");
		background-size: 192px 32px;
	}
}

.imdb-32 { background-position: -96px 0 }
.email-32 { background-position: -64px 0 }
.github-32 { background-position: -128px 0 }
.linkedin-32 { background-position: -32px 0 }
.facebook-32 { background-position: -160px 0 }
.soundcloud-32 { background-position: 0 0 }

.imdb-64 { background-position: -128px 0 }
.email-64 { background-position: -256px 0 }
.github-64 { background-position: -320px 0 }
.linkedin-64 { background-position: -64px 0 }
.facebook-64 { background-position: -192px 0 }
.soundcloud-64 { background-position: 0 0 }

.poster {
	width: 94px;
	height: 140px;
	border: solid 1px #a9a9a9;
	-webkit-box-shadow: 0 0 2px #999;
	-moz-box-shadow: 0 0 2px #999;
	box-shadow: 0 0 2px #999;
}

footer {
	background-color: #1d1f23;
	padding: 40px 0;
	margin-top: 40px;
}

footer p {
	padding: 0;
	margin: 0;
	font-size: 12px;
}

.tooltip-inner {
	background-color: #ffffff;
	opacity: 0.7;
	color: black;
}
.tooltip.bs-tooltip-right .arrow:before {
	border-right-color: #ffffff;
	opacity: 0.7;
}
.tooltip.bs-tooltip-left .arrow:before {
	border-left-color: #ffffff;
	opacity: 0.7;
}
.tooltip.bs-tooltip-bottom .arrow:before {
	border-bottom-color: #ffffff;
	opacity: 0.7;
}
.tooltip.bs-tooltip-top .arrow:before {
	border-top-color: #ffffff;
	opacity: 0.7;
}

/** contact form **/
#cm-frm input,
#cm-frm select,
#cm-frm textarea,
#cm-frm fieldset,
#cm-frm optgroup,
#cm-frm label,
#cm-frm #card-element:disabled {
	font-family: inherit;
	font-size: 100%;
	color: inherit;
	border: none;
	border-radius: 0;
	display: block;
	width: 100%;
	padding: 0;
	margin: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
}
#cm-frm label,
#cm-frm legend,
#cm-frm ::placeholder {
	font-size: .825rem;
	margin-bottom: .5rem;
	padding-top: .2rem;
	display: flex;
	align-items: baseline;
}

/* border, padding, margin, width */
#cm-frm input,
#cm-frm select,
#cm-frm textarea,
#cm-frm #card-element {
	border: 1px solid rgba(0,0,0,0.2);
	background-color: rgba(255,255,255,0.9);
	padding: .75em 1rem;
	margin-bottom: 1.5rem;
	color: #0a0b0d;
}
#cm-frm input:focus,
#cm-frm select:focus,
#cm-frm textarea:focus {
	background-color: white;
	outline-style: solid;
	outline-width: thin;
	outline-color: gray;
	outline-offset: -1px;
}
#cm-frm [type="text"],
#cm-frm [type="email"] {
	width: 100%;
}
#cm-frm [type="button"],
#cm-frm [type="submit"],
#cm-frm [type="reset"] {
	width: auto;
	cursor: pointer;
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
	color: #0a0b0d;
}
#cm-frm [type="button"]:focus,
#cm-frm [type="submit"]:focus,
#cm-frm [type="reset"]:focus {
	outline: none;
}
#cm-frm [type="submit"],
#cm-frm [type="reset"] {
	margin-bottom: 0;
}
#cm-frm select {
	text-transform: none;
}

#cm-frm [type="checkbox"] {
	-webkit-appearance: checkbox;
	-moz-appearance: checkbox;
	appearance: checkbox;
	display: inline-block;
	width: auto;
	margin: 0 .5em 0 0 !important;
}

#cm-frm [type="radio"] {
	-webkit-appearance: radio;
	-moz-appearance: radio;
	appearance: radio;
}

/* address, locale */
#cm-frm fieldset.locale input[name="city"],
#cm-frm fieldset.locale select[name="state"],
#cm-frm fieldset.locale input[name="postal-code"] {
	display: inline;
}
#cm-frm fieldset.locale input[name="city"] {
	width: 52%;
}
#cm-frm fieldset.locale select[name="state"],
#cm-frm fieldset.locale input[name="postal-code"] {
	width: 20%;
}
#cm-frm fieldset.locale input[name="city"],
#cm-frm fieldset.locale select[name="state"] {
	margin-right: 3%;
}

/** jCarousel **/
.jcarousel-wrapper {
	position: relative;
	background: #24262c;
	border: 10px solid #24262c;
	width: 100%;
	height: 180px;
	margin-bottom: 20px;
	padding: 10px 45px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.jcarousel {
	position: relative;
	overflow: hidden;
}

.jcarousel ul {
	width: 10000em;
	position: relative;
	list-style: none;
	margin: 0;
	padding: 0;
}

.jcarousel li {
	float: left;
	width: 94px;
	height: 140px;
	margin: 0 5px;
}

.jcarousel img {
	max-height: 140px;
}

.jcarousel .loading {
	text-align: center;
	line-height: 140px;
}

/** Carousel Controls **/
.jcarousel-control-prev,
.jcarousel-control-next {
	position: absolute;
	top: 65px;
	width: 30px;
	height: 30px;
	text-align: center;
	background: #4E443C;
	color: #fff;
	text-decoration: none;
	text-shadow: 0 0 1px #000;
	font: 24px/27px Arial, sans-serif;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	-webkit-box-shadow: 0 0 2px #999;
	-moz-box-shadow: 0 0 2px #999;
	box-shadow: 0 0 2px #999;
}

.jcarousel-control-prev {
	left: 0;
}

.jcarousel-control-next {
	right: 0;
}

.jcarousel-control-prev:hover span,
.jcarousel-control-next:hover span {
	display: block;
}

.jcarousel-control-prev.inactive,
.jcarousel-control-next.inactive {
	opacity: .5;
	cursor: default;
}
