document {
	display: block;
	padding: 10px;
	font-family: sans-serif;
}

revision {
	border: 2px solid black;
	display: block;
	padding: 10px;
	margin-bottom: 10px;
}

version {
	font-weight: bold;
	display: block;
}

link {
	display: none;
}

date {
	display: block;
}

log {
	margin-left: 10px;
	display: block;
}

change, fix, new {
	display: block;
	border-bottom: dashed 1px gray;
}